.topRow {
display: flex;

width: 100vw;
min-height: 2em;
height: 10vh;
overflow:hidden;

background: #350b0b;
}

.bottomRow {
display: flex;

width: 100vw;
min-height: 2em;
height: 10vh;
overflow:hidden;

background: #34350b;

}

.mainPanel {
  
  width: 100vw;
  max-height: calc(100vh - 4em);
height: 80vh;
  overflow:auto;
background: #093611;
}